.idea/
.DS_Store
build/
dist/
extra/
env/
.env
.venv/
__pycache__/
*.py[cod]
*$py.class
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints
profile_default/
ipython_config.py
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
node_modules/
coverage
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
next-env.d.ts

